./**/*.js
!jest.config.js
*.d.ts
node_modules
.idea
package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out
yarn.lock
./**/*.lock
.vscode
.DS_Store
.env

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.env
